<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src="https://m.media-amazon.com/images/I/718rc3jJEES._AC_SS450_.jpg" />
 
    
    

    <div class="card-body">
      <div class="card-text">
          <strong>{{ productItem.price  | currency: 'INR' }}</strong>
      </div>
      <p class="card-text">{{ productItem.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
        </div>
    
      </div>
    </div>
  </div>