<div class="card">
  <div class="card-header">
    <strong>Filters</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from"></label>
        <input type="text" name="" id="from" class="form-control">
      </div>

      <div class="form-group">
        <label for="to"></label>
        <input type="text" name="" id="to" class="form-control">
      </div>
      <button class="btn btn-primary btn-block btn-sm mt-4">Filter By Price</button>
    </form>
  </div>
</div>
